<p class="title">日志设置面板</p>
<form [formGroup]='form'>
    <mat-checkbox color='primary' formControlName='logTitle'>title</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logOnChanges'>onChanges</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logOnInit'>onInit</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logDoCheck'>doCheck</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logAfterContentInit'>afterContentInit</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logAfterContentChecked'>afterContentChecked</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logAfterViewInit'>afterViewInit</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logAfterViewChecked'>afterViewChecked</mat-checkbox>
    <mat-checkbox color='primary' formControlName='logOnDestroy'>onDestroy</mat-checkbox>
</form>
